<%= turbo_frame_tag :scheduling_calendar_sidebar_spinner, src: availability_schedule_path(date: date) do %>
  <div class="text--center"><i class="fad fa-3x fa-spinner fa-spin color--primary"></i></div>
<% end %>
