<td id="<%= bookable %>_account_<%= availability[:account_id] %>_availability" data-programmes-target="<%='programmeFacilitatorCopy' unless bookable_type == 'ModuleInstance' %>">
  <%= account_availability(availability[:status]) %>
</td>
